.parent{
    background-color: aquamarine;
    padding-top: 20px;
   
}
.nav{
    display: flex;
    justify-content: space-between;
    margin: 2% 0%; 
    padding-left: 2%;
}
.row1{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}
.row2{
    display: flex;
    justify-content: space-around;
    padding: 2% 0%;
}
.main{
    margin: 15% 0%;
    display: flex;
    justify-content: space-evenly;
}
.card h4,p{
    color:  white;
}
.card{
    border-radius: 20px;
    padding: 2%;
    margin-left: 2%;
}